*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Segoe UI', sans-serif;
    overflow-x:hidden;
}

/* HEADER */
.main-header{
    background:#B76E79;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 60px;
    position:relative;
}

.logo h2{
    color:#ffffff;
    font-size:32px;
}

.logo span{
    font-size:14px;
    color:#FCEEF2;
}

/* MENU NORMAL */
.nav-menu ul{
    display:flex;
    list-style:none;
    gap:25px;
}

.nav-menu a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

/* BOTON MENU */
#menu-toggle{
    display:none;
}

.menu-icon{
    display:none;
}

/* HERO */
.hero{
    height:500px;

    background:
    linear-gradient(to right, rgba(255,248,250,0.92), rgba(255,248,250,0.15)),
    url('https://images.unsplash.com/photo-1522335789203-aabd1fc54bc9');

    background-size:cover;
    background-position:center;

    display:flex;
    align-items:center;

    padding:0 60px;
}

.hero-text{
    max-width:500px;
}

.hero h1{
    font-size:64px;
    line-height:1.1;
    margin-bottom:20px;
}

.hero h1 span{
    color:#A64D79;
}

.hero p{
    font-size:20px;
    margin-bottom:25px;
    color:#555555;
}

.btn{
    display:inline-block;
    background:#A64D79;
    color:white;
    padding:15px 30px;
    border-radius:8px;
    text-decoration:none;
    font-weight:bold;
}

/* TARJETAS */
.grid-content{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:25px;
    padding:60px;
}

.card{
    background:white;
    border-radius:15px;
    overflow:hidden;
    box-shadow:0 5px 15px rgba(0,0,0,0.12);

    transition:0.4s;
    text-align:center;
}

.card:hover{
    transform:translateY(-10px);
}

.card img{
    width:100%;
    height:220px;
    object-fit:cover;
}

.card h3{
    color:#A64D79;
    margin:20px 0 10px;
}

.card p{
    padding:0 20px 20px;
}

/* FOOTER */
.main-footer{
    background-color:#B76E79;
    color:white;
    padding:20px 0;
    text-align:center;
}

.footer-container{
    display:flex;
    justify-content:space-around;
    align-items:center;
    max-width:1200px;
    margin:0 auto;
    flex-wrap:wrap;
    gap:15px;
}

.social-icons a{
    color:#B76E79;
    background-color:white;
    border-radius:50%;
    width:35px;
    height:35px;

    display:inline-flex;
    justify-content:center;
    align-items:center;

    margin:0 5px;
    text-decoration:none;
    font-size:20px;
}

.footer-logo{
    font-size:24px;
}

html{
    scroll-behavior:smooth;
}

/* RESPONSIVE */
@media (max-width:768px){

    body{
        overflow-x:hidden;
    }

    /* HEADER */
    .main-header{
        flex-direction:column;
        align-items:flex-start;
        padding:20px;
    }

    .logo h2{
        font-size:24px;
    }

    .logo span{
        font-size:12px;
    }

    /* ICONO ☰ */
    .menu-icon{
        display:block;
        font-size:38px;
        cursor:pointer;
        color:white;

        position:absolute;
        top:20px;
        right:20px;
    }

    /* MENU RESPONSIVE */
    .nav-menu{
        width:100%;
    }

    .nav-menu ul{
        display:none;
        flex-direction:column;

        align-items:flex-start;

        gap:10px;

        width:100%;

        margin-top:20px;
    }

    #menu-toggle:checked ~ ul{
        display:flex;
    }

    .nav-menu li{
        width:100%;
        list-style:none;
    }

    .nav-menu a{
        display:block;

        width:100%;

        background:rgba(255,255,255,0.15);

        padding:12px;

        border-radius:8px;

        font-size:15px;
    }

    /* HERO */
    .hero{
        height:auto;

        padding:60px 20px;

        text-align:center;

        justify-content:center;
    }

    .hero-text{
        max-width:100%;
    }

    .hero h1{
        font-size:42px;
        line-height:1.3;
    }

    .hero p{
        font-size:18px;
    }

    /* TARJETAS */
    .grid-content{
        grid-template-columns:1fr;
        gap:20px;
        padding:20px;
    }

    .card{
        width:100%;
    }

    .card img{
        height:auto;
    }

    /* FOOTER */
    .footer-container{
        flex-direction:column;
        gap:15px;
        padding:20px;
    }
}
